body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 2%;
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

table {
    width: 90%;
    height: 80%;
    border-collapse: collapse;
    text-align: center;
}

th {
    border: 1px solid black;
    width: calc(100% / 3);
    height: calc(100% / 3);
    background-color: #c2c2c2; /* デフォルトの背景色をグレーに */
}

/* 特定のセルを黄緑色にする */
tr:first-child th:nth-child(2), /* 津江 */
tr:nth-child(3) th:first-child, /* 髙橋 */
tr:nth-child(2) th:last-child  /* 田中 */ {
    background-color: #ebffb5; /* 黄緑色 */
}
